<div class="nav">
  <div class="nav-logo">
    <a href="/">
      <img src="/images/logo.jpg" alt="" />
    </a>
  </div>

  <div class="nav-links">
    <a
      href="/users/team/<%= userInfo.username %>"
      class="<%= currentPage === '/about' ? 'activeButton' : 'nav-link' %>"
      >Team</a
    >

    <% if (userInfo) { %>
    <li class="nav-item">
      <a class="nav-link" href="/users/network/<%= userInfo.username %>"
        >Network</a
      >
    </li>

    <!-- <li class="nav-item">
      <span class="nav-link">
        Öğretmen Durumu: <%= userInfo.isTeacher === 1 ? "Evet" : "Hayır" %> <%=
        userInfo.username %> <%= userInfo.isTeacher %>
      </span>
    </li> -->
    <% } %>

    <a
      href="/users/<%= userInfo.username %>/wp/MainPage"
      class="<%= currentPage === '/about' ? 'activeButton' : 'nav-link' %>"
      >Whatsapp</a
    >
    <a
      href="/users/notification/<%= userInfo.username %>"
      class="<%= currentPage === '/about' ? 'activeButton' : 'nav-link' %>"
    >
      Notification
    </a>
    <a
      href="/profile/user/<%= userInfo.username %> "
      class="<%= currentPage === '/about' ? 'activeButton' : 'nav-link' %>"
      ><%= userInfo.name %></a
    >
  </div>
</div>
