<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="dist/notiflix-X.X.X.min.css" />
    <title><%= userInfo ? userInfo.name + ' Dashboard' : 'Dashboard' %></title>
  </head>
  <body class="login-body">
    <%- include('../partials/userNavbar') %>
    <div class="dashboard-container">
      <% if (userInfo) { %>
      <div class="skill-form-container p-5">
        <form action="/saveSkill" method="post">
          <div class="form-section ms-4">
            <div class="form-group mt-4 mb-5">
              <label for="skill" class="me-3">Skill:</label>
              <select name="skill" id="skill" class="form-control">
                <% skills.forEach(skill => { %>
                <option value="<%= skill %>"><%= skill %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group mb-2">
              <label for="startDate">Başlangıç Tarihi:</label>
              <input
                type="date"
                name="startDate"
                id="startDate"
                class="form-control me-2"
              />

              <label for="endDate">Bitiş Tarihi:</label>
              <input
                type="date"
                name="endDate"
                id="endDate"
                class="form-control"
              />
            </div>
            <div class="form-group mb-5">
              <h6>Tek günlük bir etkinlik ise lütfen günleri aynı gün seçin</h6>
            </div>
            <div class="form-group mb-5">
              <label for="description">Açıklama:</label>
              <textarea
                name="description"
                id="description"
                placeholder="Açıklama"
                class="form-control"
              ></textarea>
            </div>
            <div class="form-group mb-5">
              <label for="withWhom">Kimle:</label>
              <select name="withWhom" id="withWhom" class="form-control">
                <% friends.forEach(friend => { %>
                <option value="<%= friend.name %> <%= friend.surname %>">
                  <%= friend.name %> <%= friend.surname %>
                </option>
                <% }); %>
              </select>
            </div>

            <div class="form-group mb-5">
              <label for="rating">Puan:</label>
              <input
                type="number"
                name="rating"
                id="rating"
                class="form-control"
                min="0"
                max="10"
              />
              <h6>1-10 arası seçim yapın lütfen</h6>
            </div>
            <div class="form-group mb-5 mt-5">
              <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
          </div>
        </form>
      </div>
      <% } else { %>
      <p>Giriş yapmış bir kullanıcı bulunamadı.</p>
      <% } %>
    </div>
    <%- include('../partials/foot') %>
    <script src="dist/notiflix-X.X.X.min.js"></script>
  </body>
</html>
