<!-- searchResults.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
  </head>
  <body>
    <% if (results && results.length > 0) { %>
    <ul>
      <% results.forEach(result => { %>

      <li class="eachFriend">
        Arkadaşlık İsteği Gönder ->
        <button
          class="friendButton"
          onclick="location.href='/sendFriendRequest/<%= userInfo.name %>/<%= result.username %>';"
        >
          <%= result.name %> <%= result.surname %> (<%= result.username %>)
        </button>
      </li>
      <% }); %>
    </ul>

    <% } else { %>
    <h4>Aradığınız kriterlere uygun kullanıcı bulunamadı.</h4>
    <% } %>
    <script></script>
  </body>
</html>
