<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="dist/notiflix-X.X.X.min.css" />
    <title><%= userInfo.name %> Text</title>
  </head>
  <body class="loginBody">
    <div class="nav-links">
      <a
        href="/users/network/<%= userInfo.username %>"
        class="<%= currentPage === '/about' ? 'activeButton' : 'nav-link' %>"
        >Network</a
      >
      <a
        href="/users/team/<%= userInfo.username %>/<%= userInfo.name %>/<%= userInfo.surname %>"
        class="<%= currentPage === '/about' ? 'activeButton' : 'nav-link' %>"
        >Team</a
      >
      <a
        href="/users/<%= userInfo.username %>/wp/MainPage"
        class="<%= currentPage === '/about' ? 'activeButton' : 'nav-link' %>"
        >Whatsapp</a
      >
      <a
        href="/users/notification/<%= userInfo.username %>"
        class="<%= currentPage === '/about' ? 'activeButton' : 'nav-link' %>"
      >
        Notification
      </a>
      <a
        href="/profile/user/<%= userInfo.username %> "
        class="<%= currentPage === '/about' ? 'activeButton' : 'nav-link' %>"
        ><%= userInfo.name %></a
      >
    </div>

    <div class="wpbg">
      <div class="friendList">
        <div class="">
          <div class="centerHeader pt-3"><h3>Arkadaşlar</h3></div>
          <div>
            <!-- buraya arkadaşlar listelensin -->
            <ul>
              <% friends.forEach(friend => { %>
              <li class="linkUnderline">
                <form
                  action="/users/<%= userInfo.username %>/wp/<%= friend.username %>"
                  method="GET"
                >
                  <button type="submit">
                    <%= friend.name %> <%= friend.surname %>
                  </button>
                </form>
              </li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>

      <div>
        <div class="messages" id="messagesContainer">
          <div class="between" id="messagesList">
            <% messages.forEach(message => { %> <% if (message.sender ===
            userInfo.username) { %>
            <div class="message sender-message">
              <p>
                Gönderen: <%= message.senderName %> <%= message.senderSurname %>
              </p>
              <p>İçerik: <%= message.content %></p>
              <p>Gönderim Tarihi: <%= message.sendDate %></p>
              <p>
                Teslim Durumu: <% if (message.deliveryStatus === 'read') { %>
                <i class="fa-solid fa-check-double"></i>
                <% } else { %>
                <i class="fa-solid fa-check"></i>
                <% } %>
              </p>

              <p>Okuma Tarihi: <%= message.readDate %></p>
            </div>
            <% } else { %>
            <div class="message receiver-message">
              <p>
                Gönderen: <%= message.senderName %> <%= message.senderSurname %>
              </p>
              <p>İçerik: <%= message.content %></p>
              <p>Gönderim Tarihi: <%= message.sendDate %></p>
              <p>Teslim Durumu: <%= message.deliveryStatus %></p>
              <p>Okuma Tarihi: <%= message.readDate %></p>
            </div>
            <% } %> <% }); %>
            <div id="scrollTarget"></div>
          </div>
          <div class="sendBox">
            <div>
              <form
                id="sendMessage"
                action="/sendMessage/<%= userInfo.username %>/<%= receiver_username %>"
                method="POST"
              >
                <input
                  type="text"
                  id="messageInput"
                  name="content"
                  placeholder="Mesajınızı girin..."
                />
                <button type="submit">
                  <i class="fa-solid fa-paper-plane"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-bp ps-4 pe-4 pt-4 pb-4">
        <div>
          <div class="me-4">
            <i class="fa-regular fa-envelope me-2"> </i>
            <p><a href="mailto:btdhaslan@gmail.com">Send Us a Mail</a></p>
          </div>
          <div>
            <i class="fa-solid fa-location-dot me-2"></i>
            <h5>Trabzon</h5>
          </div>
        </div>
        <div>
          <i class="fa-brands fa-twitter me-4 fa-xl"></i>
          <i class="fa-brands fa-facebook me-4 fa-xl"></i>
          <i class="fa-brands fa-instagram me-4 fa-xl"></i>
          <i class="fa-brands fa-github me-4 fa-xl"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
    </footer>

    <script>
      window.onload = function () {
        var scrollTarget = document.getElementById("scrollTarget");
        scrollTarget.scrollIntoView({ behavior: "smooth" });
      };
    </script>
    <script
      src="https://kit.fontawesome.com/d497048b92.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
